// Variables
$font-google: 'Poppins', sans-serif;
$primary-color: #333333;
$font-contrast: #fefefe;
$li-color: #fff;
$link-color: #00A8FF;
$dark-grey: #26282b;
$bg-color: #f8fbfd;
$cool-grey: #8c95a0;
$product-color: #fefefe;
$mint-color: #50e3c2;
$modal-backdrop-bg: #333333;
$important: #ea2966;